@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --background1: #0e0e0e;
    --text2: var(--text1);
    --text1: #EEE;
    --background2: #CAEBF2;
    --highlight1: #FF3B3F;
    --highlight2: #A9A9A9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body {
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: var(--text2);
    background-color: var(--background1);
}

/* header styles */
header {
    
    margin-top:60px;
    color: var(--text1);
    font-size: 80px;
    font-weight: 600;
}

/* body paragraphs */
.content{
    width:100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:40px;
    align-items: center;
    box-shadow:0px 5px;
}
.dark{
    color: var(--text1);
    background-color: var(--background1);
}
.light{
    color: var(--background1);
    background-color: var(--text1);
}

.content p{
    font-size:45px;
    padding:40px;
    line-height: 70px;
    letter-spacing: 2px;
    font-weight: 600;
}
.content img{
    /* padding:30px; */
    width:100%;
}
.results>h2{
    font-size:50px;
    padding:60px;
    padding-bottom: 20px;
}
.results ul{
    list-style-type: none;
}
/* project list styles */
.result-link {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: 110px auto;
    color: inherit;
    text-decoration: none;
    padding:30px;
}
.result-link:hover h2{
    text-decoration: underline;
    opacity: .7;

}

.result-link:hover p{
    opacity: .7;
}

.result-link h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
    font-size: 50px;
    padding:10px 20px;
}
.result-link p{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:3;
    padding:10px 20px;
    font-size:35px;
    line-height: 60px;
}
.result-link img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
    width:100%;
    align-self: center;
}


.paragraph-color-emphasis-mario{
    color: rgb(224,50,53);
}
.paragraph-color-emphasis-toad{
    color: rgb(206, 141, 106);
}