@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --background1: #0e0e0e;
    --text2: var(--text1);
    --text1: #EEE;
    --background2: #CAEBF2;
    --highlight1: #FF3B3F;
    --highlight2: #A9A9A9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body {
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: var(--text2);
    background-color: var(--background1);
}

/* header styles */
header {
    
    margin-top:60px;
    color: var(--text1);
    font-size: 80px;
    font-weight: 600;
}

/* body paragraphs */
.content{
    width:100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:40px;
    align-items: center;
    box-shadow:0px 5px;
}
.dark{
    color: var(--text1);
    background-color: var(--background1);
}
.light{
    color: var(--background1);
    background-color: var(--text1);
}

.content p{
    font-size:45px;
    padding:40px;
    line-height: 70px;
    letter-spacing: 2px;
    font-weight: 600;
}
.content img{
    /* padding:30px; */
    width:100%;
}
.results h2{
    font-size:50px;
    padding:60px;
}
.results ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}
/* project list styles */
.result-link {
    aspect-ratio: 4/3;
    border: 2px solid var(--dark);
    display: flex;
    flex-direction: column;
    background-color: red;
    position:relative;
    color:inherit;
    z-index: 2;
    width:35vw;
    margin:20px;
}

.result-link img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.result-link h2 {
    position: absolute;
    top: 4px;
    left:4px;
    right:4px;
    /* height: 40px; */
    /* width:100%; */
    padding: 10px 20px;
    background-color: var(--background1);
    color:var(--dark);
    display: flex;
    align-items: center;
}


.paragraph-color-emphasis-mario{
    color: rgb(224,50,53);
}
.paragraph-color-emphasis-toad{
    color: rgb(206, 141, 106);
}